In [15]:
import pandas as pd

In [21]:
path = 'datasets/digits/results/models/model_2layers_20neurons.h5/df.csv'
df = pd.read_csv(path) 
df.query('len_relaxado<64').head()

,instance_index,tempo_original,tempo_relaxado,tempo_relaxado_global,len_original,len_relaxado,len_relaxado_global,delta,explanation,explanation_relaxed,explanation_relaxed_global
7,7,6.151275,0.886069,0.894188,40.0,44,43,0.3,"[(0, 2), (0, 5), (0, 6), (1, 1), (1, 2), (1, 4...","[(0, 6), (0, 7), (1, 1), (1, 2), (1, 3), (1, 4...","[(0, 2), (0, 5), (0, 6), (0, 7), (1, 1), (1, 2..."
32,32,5.716095,0.811433,0.805552,46.0,33,36,0.3,"[(0, 2), (0, 5), (0, 7), (1, 0), (1, 1), (1, 4...","[(1, 6), (1, 7), (2, 0), (2, 2), (2, 3), (2, 4...","[(0, 6), (1, 3), (1, 4), (1, 6), (1, 7), (2, 0..."
35,35,10.944768,0.791621,0.757078,40.0,36,43,0.3,"[(0, 6), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1...","[(1, 2), (1, 6), (1, 7), (2, 0), (2, 2), (2, 3...","[(0, 4), (0, 5), (0, 6), (1, 1), (1, 2), (1, 3..."
40,40,9.463692,0.800176,0.757176,40.0,44,47,0.3,"[(1, 1), (1, 2), (1, 5), (1, 6), (1, 7), (2, 0...","[(0, 4), (0, 5), (0, 6), (1, 1), (1, 2), (1, 3...","[(0, 2), (0, 4), (0, 5), (0, 6), (1, 1), (1, 2..."
42,42,6.973344,0.820910,1.235472,39.0,29,38,0.3,"[(1, 5), (1, 7), (2, 0), (2, 2), (2, 3), (2, 5...","[(3, 4), (3, 6), (4, 1), (4, 2), (4, 4), (4, 5...","[(1, 6), (1, 7), (2, 0), (2, 2), (2, 3), (2, 4..."

In [17]:
(df['len_relaxado'] > df['len_relaxado_global']).any()

True

In [18]:
df['len_relaxado']<64

0      False
1      False
2      False
3      False
4      False
       ...
200     True
201     True
202     True
203     True
204    False
Name: len_relaxado, Length: 205, dtype: bool

In [19]:
df['len_relaxado_global']<64

0      False
1      False
2      False
3      False
4      False
       ...
200     True
201     True
202     True
203     True
204    False
Name: len_relaxado_global, Length: 205, dtype: bool